* {
	padding: 0;
	margin: 0;
}

input {
	display: none;
}

label {
	padding: var(--space-s) var(--space-m);
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--word-text-color);
	text-align: center;
	text-decoration-thickness: var(--line-width);
	background-color: var(--word-background-color);
	border: var(--line-width) solid var(--word-border-color);
	border-radius: var(--chamfer-radius, 0);
	opacity: var(--opacity, 1);
	animation: word-fade-in var(--word-fade-in-duration, 0.3s);
}

label {
	display: block;
	cursor: inherit;
}

:host([entry-animation="none"]) label {
	animation: none;
}

:host([action="mark"]) {
	label {
		cursor: pointer;
	}
}

:host([action="delete"]) {
	label {
		cursor: pointer;
	}
	label:hover {
		color: var(--word-delete-hover-text-color);
		background-color: var(--word-delete-hover-background-color);
		border-color: var(--word-delete-hover-background-color);
	}
}

:host([checked]) {
	label {
		text-decoration: line-through;
		opacity: var(--checked-opacity);
	}
}

:host {
	display: block;
	width: fit-content;
	height: fit-content;
}

@keyframes word-fade-in {
	0% {
		background-color: transparent;
		border-color: transparent;
		color: var(--input-focus-color);
	}
	100% {
		background-color: var(--word-background-color);
		border-color: var(--word-border-color);
		color: var(--word-text-color);
	}
}
