:host {
	--space-s: 0.5rem;
	--space-m: 1rem;
	--line-width: 2px;
	--font-size: 1.5rem;
	--font-family: Arial;
	--input-background: #fff;
	--input-text-color: #000;
	--input-background-color: #eee;
	--input-border-color: #444;
	--input-focus-text-color: hwb(212 2% 88%);
	--input-focus-border-color: hwb(212 16% 22%);
	--input-focus-shadow-color: hwb(212 76% 0%);
	--input-focus-background-color: hwb(212 95% 0%);
	--word-text-color: hwb(274 2% 80%);
	--word-background-color: hwb(276 96% 0%);
	--word-border-color: var(--word-background-color);
	--word-delete-hover-text-color: hwb(357 45% 11%);
	--word-delete-hover-background-color: hwb(351 99% 0%);
	--word-dragged-background-color: hwb(210 90% 0%);
	--word-dragged-border-color: hwb(210 85% 0%);
	--word-fade-in-duration: 1s;
	--checked-opacity: 0.5;
	display: block;
}

.word-cloud {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	font-size: var(--font-size);
}

form {
	z-index: 2;
	display: none;
}

.word-cloud .word {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3;
	translate: -50% -50%;
	will-change: transform;
}

input[type="text"] {
	padding: var(--space-s) var(--space-m);
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--input-text-color);
	text-align: center;
	background-color: var(--input-background-color);
	border: var(--line-width) solid var(--input-border-color);
	border-radius: var(--chamfer-radius, 0);
	opacity: var(--opacity, 1);

	&:focus,
	&:focus-visible {
		color: var(--input-focus-text-color);
		outline: none;
		background-color: var(--input-focus-background-color);
		border-color: var(--input-focus-border-color);
		border-radius: var(--chamfer-radius, 0);
		filter: drop-shadow(0px 0px 10px var(--input-focus-shadow-color));
	}
}

:host([mode="input"]) {
	form {
		display: block;
	}
	.word {
		cursor: grab;
		user-select: none;
	}
	.word[dragged] {
		z-index: 4;
		cursor: grabbing;
	}
}

:host(:state(active)) {
	.word-cloud,
	.word {
		cursor: grabbing;
	}
}
