* {
	padding: 0;
	margin: 0;
}

input {
	position: absolute;
	top: -1000px;
	z-index: -1000;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

label {
	display: block;
	padding: var(--word-padding-y) var(--word-padding-x);
	font-family: var(--font-family);
	font-size: var(--font-size);
	color: var(--word-text-color);
	text-align: center;
	text-decoration-thickness: var(--line-width);
	cursor: inherit;
	background-color: var(--word-background-color);
	border: var(--line-width) solid var(--word-border-color);
	border-radius: var(--chamfer-radius, 0);
	opacity: var(--opacity, 1);
	filter: drop-shadow(0px 0px 0px transparent);
	transform: scale(1);
	transition-timing-function: var(--transition-timing);
	transition-duration: var(--word-dragged-scaling-duration, 0);
	transition-property: filter, transform;
	animation: word-fade-in var(--word-fade-in-duration, 0.3s);
}

input:focus-visible ~ label {
	outline: 2px solid var(--word-focus-outline-color);
	outline-offset: 2px;
}

:host([entry-animation="none"]) label {
	animation: none;
}

:host([dragged]) label {
	background-color: var(--word-dragged-background-color);
	border-color: var(--word-dragged-border-color);
	filter: drop-shadow(
		0px 0px var(--word-dragged-shadow-blur, 0)
			var(--word-dragged-shadow-color, transparent)
	);
	transform: scale(var(--word-dragged-scale-factor, 1));
}

:host([action="check"]) {
	label {
		cursor: pointer;
	}
}

:host([action="delete"]) {
	label {
		cursor: pointer;
	}
	label:hover {
		color: var(--word-delete-hover-text-color);
		background-color: var(--word-delete-hover-background-color);
		border-color: var(--word-delete-hover-background-color);
	}
}

:host([checked]) {
	label {
		color: var(--word-checked-text-color);
		text-decoration: line-through;
		background-color: var(--word-checked-background-color);
		border-color: var(--word-checked-background-color);
	}
}

:host {
	display: block;
	width: fit-content;
	height: fit-content;
}

@keyframes word-fade-in {
	0% {
		background-color: transparent;
		border-color: transparent;
		color: var(--input-focus-color);
	}
	100% {
		background-color: var(--word-background-color);
		border-color: var(--word-border-color);
		color: var(--word-text-color);
	}
}
